# SPDX-FileCopyrightText: 2026 Scitrera LLC
# SPDX-FileCopyrightText: 2026 Fox Engine Ltd
# SPDX-License-Identifier: AGPL-3.0-only

include .pre-commit-config.yaml
include DEV_PREVIEW.md
include dev.sh
include plugin.toml
include versions.yaml
recursive-include scripts *.py
recursive-include tests *.py
recursive-include .github/workflows *.yml
recursive-include compat *.patch *.toml
recursive-include docs *.md
